In [1]:
import pandas as pd

In [24]:
with open('/home/lyumos/PycharmProjects/anomalies-detection-project/datasets processing/domain characteristics dataset/raw_dc_dataset.csv', 'r') as file:
    df1 = pd.read_csv(file)

In [25]:
with open('/home/lyumos/PycharmProjects/anomalies-detection-project/datasets processing/network characteristics dataset/raw_nc_dataset.csv', 'r') as file:
    df2 = pd.read_csv(file)

In [26]:
df1 = df1.iloc[10001:20001].reset_index(drop=True)
df1.head()

,FQDN_count,subdomain_length,upper,lower,numeric,entropy,special,labels,labels_max,labels_average,len,subdomain,label,longest_word,sld
0,24,7,0,10,8,2.054029,6,6,7,3.166667,11,1,1,4,62
1,12,0,0,11,0,2.817711,1,2,8,5.500000,9,0,0,3209,5671
2,27,10,0,10,11,2.570417,6,6,7,3.666667,14,1,1,2,38
3,25,8,0,10,9,2.556642,6,6,7,3.333333,12,1,1,2,38
4,24,7,0,10,8,2.054029,6,6,7,3.166667,11,1,1,4,62

In [27]:
df2 = df2.iloc[10001:20001].reset_index(drop=True)
df2.head()

,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Mean,Bwd Packet Length Mean,Fwd Packets/s,Bwd Packets/s,Fwd IAT Mean,Bwd IAT Mean,Flow IAT Mean,Flow Packets/s,Flow Bytes/s,Label
0,47981,1,1,96.0,178.0,96.00,178.0,20.841583,20.841583,0.000000,0.0,47981.000000,41.683166,5.710594e+03,0
1,158,2,2,80.0,112.0,40.00,56.0,12658.227850,12658.227850,4.000000,3.0,52.666667,25316.455700,1.215190e+06,0
2,119612,2,2,68.0,280.0,34.00,140.0,16.720730,16.720730,4.000000,3.0,39870.666670,33.441461,2.909407e+03,0
3,26337,150,0,65424.0,0.0,436.16,0.0,5695.409500,0.000000,176.758389,0.0,176.758389,5695.409500,2.484110e+06,1
4,8973061,10,2,460.0,92.0,46.00,46.0,1.114447,0.222889,849257.777800,3.0,815732.818200,1.337336,6.151747e+01,0

In [28]:
df = pd.concat([df1, df2], axis=1)
df.head()

,FQDN_count,subdomain_length,upper,lower,numeric,entropy,special,labels,labels_max,labels_average,...,Fwd Packet Length Mean,Bwd Packet Length Mean,Fwd Packets/s,Bwd Packets/s,Fwd IAT Mean,Bwd IAT Mean,Flow IAT Mean,Flow Packets/s,Flow Bytes/s,Label
0,24,7,0,10,8,2.054029,6,6,7,3.166667,...,96.00,178.0,20.841583,20.841583,0.000000,0.0,47981.000000,41.683166,5.710594e+03,0
1,12,0,0,11,0,2.817711,1,2,8,5.500000,...,40.00,56.0,12658.227850,12658.227850,4.000000,3.0,52.666667,25316.455700,1.215190e+06,0
2,27,10,0,10,11,2.570417,6,6,7,3.666667,...,34.00,140.0,16.720730,16.720730,4.000000,3.0,39870.666670,33.441461,2.909407e+03,0
3,25,8,0,10,9,2.556642,6,6,7,3.333333,...,436.16,0.0,5695.409500,0.000000,176.758389,0.0,176.758389,5695.409500,2.484110e+06,1
4,24,7,0,10,8,2.054029,6,6,7,3.166667,...,46.00,46.0,1.114447,0.222889,849257.777800,3.0,815732.818200,1.337336,6.151747e+01,0

In [29]:
check_df = df['label'] | df['Label']
check_df.head()

0    1
1    0
2    1
3    1
4    1
dtype: int64

In [30]:
del df['label']
del df['Label']
df.head()

,FQDN_count,subdomain_length,upper,lower,numeric,entropy,special,labels,labels_max,labels_average,...,Total Length of Bwd Packets,Fwd Packet Length Mean,Bwd Packet Length Mean,Fwd Packets/s,Bwd Packets/s,Fwd IAT Mean,Bwd IAT Mean,Flow IAT Mean,Flow Packets/s,Flow Bytes/s
0,24,7,0,10,8,2.054029,6,6,7,3.166667,...,178.0,96.00,178.0,20.841583,20.841583,0.000000,0.0,47981.000000,41.683166,5.710594e+03
1,12,0,0,11,0,2.817711,1,2,8,5.500000,...,112.0,40.00,56.0,12658.227850,12658.227850,4.000000,3.0,52.666667,25316.455700,1.215190e+06
2,27,10,0,10,11,2.570417,6,6,7,3.666667,...,280.0,34.00,140.0,16.720730,16.720730,4.000000,3.0,39870.666670,33.441461,2.909407e+03
3,25,8,0,10,9,2.556642,6,6,7,3.333333,...,0.0,436.16,0.0,5695.409500,0.000000,176.758389,0.0,176.758389,5695.409500,2.484110e+06
4,24,7,0,10,8,2.054029,6,6,7,3.166667,...,92.0,46.00,46.0,1.114447,0.222889,849257.777800,3.0,815732.818200,1.337336,6.151747e+01

In [31]:
df.to_csv('final_dataset.csv', index=False)

In [32]:
check_df.to_csv('label_dataset.csv', index=False)